 .visually-hidden {

     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .principles__title {
     color: var(--primary-text-color);
     margin: 0;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
 }

 .principles__text {
     line-height: 1.7;
     color: var(--basic-text-color);
     margin: 0;
     margin-top: 10px;

 }


 .principles__list {
     display: flex;
 }

 .principles__item:not(:last-child) {
     margin-right: 30px;
 }

 .principles__box {
     width: 270px;
     height: 120px;
     background-color: var(--bgc-color-commands);
     border-radius: 4px;
     margin-bottom: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
 }